#contact {
  background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  padding: 15rem 0 10rem 0;
  margin-top: -15rem;
  margin-bottom: -1px;
  color: $white-color;

  @include respond(tab-land) {
    padding: 10rem 0;
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }

  .contact-wrapper {
    // margin-top: 3.2rem;
    padding: 0 2rem;
    backface-visibility: hidden;

    &__text {
      margin-bottom: 2.5rem;
    }

    &__text,
    a {
      font-size: 2.4rem;

      // Responsive for contact text
      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}

.loader {
  border: 16px solid #e2e2e2;
  border-radius: 50%;
  border-top: 16px solid #5a5b5c;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 0.75 linear infinite; /* Safari */
  animation: spin 0.75s linear infinite;
  margin-bottom: 20px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.contactFormContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting {
  font-size: 1.2rem;
  margin: 20px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contactForm-input {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-left: 5px;
}

textarea.contactForm-input {
  height: 100px;
}

.inputLabel {
  align-self: flex-start;
}

.contactForm-label::after {
  content: '*';
  color: red;
}

.sendBtn {
  margin: auto;
  width: 90px;
  height: 40px;
  margin-bottom: 40px;
  cursor: pointer;
  color: white;
  background-color: black;
  border-radius: 4px;
  border: 0px;
  font-size: 1.1rem;
}

.sendBtn:hover {
  color: white;
  background-color: rgb(65, 65, 65);
}

.messageSent {
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .contactForm {
    width: 75%;
  }
}

/* contact */

.ContactMe-root {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 1200px;
  height: 100%;
  box-shadow: 4px 4px 4px #606060;
  border: 1px solid #ababab;
  margin-bottom: 70px;
}

.contactTitleWrapper {
  text-align: center;
  padding: 20px 0 20px 0;
  background-color: black;
}

.contactTitle {
  font-size: 2.5rem;
  font-weight: 300;
  color: white;
}

.contactContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 1200px) {
  .ContactMe-root {
    width: 100vw;
    height: 100%;
    margin-bottom: 0px;
  }

  .contactTitleWrapper {
    display: flex;
    text-align: center;
    height: 80px;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  
  .contactTitle {
    font-size: 2rem;
    font-weight: 300;
  }
}

@media (max-width: 500px) {

}